<div class="activities">
    <div class="activities__header">
        <h2>Recent Activities</h2>
    </div>
    {% for room in room_page_obj %}
    <div class="activities__box">
        <div class="activities__boxHeader roomListRoom__header">
            <a href="{% url 'profile' room.owner.id %}" class="roomListRoom__author">
                {% if room.owner.online %}
                    <div class="avatar avatar--small active">
                        <img src="../../static/images{{ room.owner.photo.url }}"/>
                    </div>
                {% else %}
                    <div class="avatar avatar--small">
                        <img src="../../static/images{{ room.owner.photo.url }}"/>
                    </div>
                {% endif %}
                <p>
                    @{{room.owner.username}}
                    <span>created {{room.created|timesince}} ago</span>
                </p>
            </a>
        </div>
        <div class="activities__boxContent">
            <p>“<a href="{% url 'room' room.id %}">{{room.name}}</a>”</p>
            <div class="activities__boxRoomContent">{{room.description}}</div>
        </div>
    </div>
    {% endfor %}

    <div class="pagination">
    <span class="step-links">
        {% if room_page_obj.has_previous %}
            <a href="{% url 'home' %}?room_page=1">&laquo;</a>
            <a href="{% url 'home' %}?room_page={{ room_page_obj.previous_page_number }}">&lt;</a>
        {% endif %}
        {% if room_page_obj.has_next %}
            <a href="{% url 'home' %}?room_page={{ room_page_obj.next_page_number }}">&gt;</a>
            <a href="{% url 'home' %}?room_page={{ room_page_obj.paginator.num_pages }}">&raquo;</a>
        {% endif %}
    </span>
    </div>

</div>