<div class="activities">
    <div class="activities__header">
        <h2>Recent Activities</h2>
    </div>
    {% for user in user_page_obj %}
        <div class="activities__box">
            <div class="activities__boxHeader roomListRoom__header">
                <a href="{% url 'profile' user.id %}" class="roomListRoom__author">
                    {% if user.online %}
                        <div class="avatar avatar--small active">
                            <img src="../../static/images{{ user.photo.url }}"/>
                        </div>
                        <p>
                            @{{ user.username }}
                            <span>online</span>
                            {% else %}
                        <div class="avatar avatar--small">
                            <img src="../../static/images{{ user.photo.url }}"/>
                        </div>
                        <p>
                        @{{ user.username }}
                        <span>offline</span>
                    {% endif %}
                    </p>
                </a>

            </div>
            <div class="activities__boxContent">
                <p>{{ user.bio }}</p>
            </div>
        </div>
    {% endfor %}

    <div class="pagination">
    <span class="step-links">
        {% if user_page_obj.has_previous %}
            <a href="{% url 'home' %}?user_page=1">&laquo;</a>
            <a href="{% url 'home' %}?user_page={{ user_page_obj.previous_page_number }}">&lt;</a>
        {% endif %}
        {% if user_page_obj.has_next %}
            <a href="{% url 'home' %}?user_page={{ user_page_obj.next_page_number }}">&gt;</a>
            <a href="{% url 'home' %}?user_page={{ user_page_obj.paginator.num_pages }}">&raquo;</a>
        {% endif %}
    </span>
    </div>

</div>