<div class="topics">
    <div class="topics__header">
        <h2>Browse Books</h2>
    </div>
    <ul class="topics__list">
        <li>
            <a href="{% url 'home' %}" class="active">All:<span>{{ item_count }}</span></a>
        </li>
        {% for book in book_page_obj %}
            <li>
                <a href="{% url 'home' %}?param={{ book.name }}">{{ book.name }}<span>{{ book.post_count|add:book.room_count}}</span></a>
            </li>
        {% endfor %}
    </ul>
    <!--<a class="btn btn--link" href="">
        More
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <title>chevron-down</title>
            <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
        </svg>
    </a>-->

    <div class="pagination">
    <span class="step-links">
        {% if book_page_obj.has_previous %}
            <a href="{% url 'home' %}?book_page=1">&laquo;</a>
            <a href="{% url 'home' %}?book_page={{ book_page_obj.previous_page_number }}">&lt;</a>
        {% endif %}
        <br>
        <span class="current">
        </span>
        <br>
        {% if book_page_obj.has_next %}
            <a href="{% url 'home' %}?book_page={{ book_page_obj.next_page_number }}">&gt;</a>
            <a href="{% url 'home' %}?book_page={{ book_page_obj.paginator.num_pages }}">&raquo;</a>
        {% endif %}
    </span>
    </div>

</div>
