{% for post in post_page_obj %}
<div class="roomListRoom">
    <div class="roomListRoom__header">
        <a href="{% url 'profile' post.owner_id %}" class="roomListRoom__author">
            {% if post.owner.online %}
            <div class="avatar avatar--small active">
                <img src="{{ post.owner.photo.url }}" />
            </div>
            {% else %}
            <div class="avatar avatar--small">
                <img src="{{ post.owner.photo.url }}" />
            </div>
            {% endif %}
            <span>@{{post.owner.username}}</span>
        </a>
        <div class="roomListRoom__actions">
            <span>{{post.created|timesince}} ago</span>
        </div>
    </div>
    <div class="roomListRoom__content">
        <a href="{% url 'post' post.id %}">{{post.name}}</a>
    </div>
    <div class="roomListRoom__meta">
        <p class="roomListRoom__topic"><a href="{% url 'home' %}?param={{post.book.name}}">{{post.book.name}}</a></p>
        <a href="" class="roomListRoom__joined">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>user-group</title>
            </svg>
        </a>
        <div>
            {% if post.is_approved %} Approved by the author {% endif %}
            <i style="margin: 0 5px" class="{% if post.is_approved %} fa-solid {% else %} fa-regular {% endif %} fa-thumbs-up fa-lg"></i>
            {{ post.rating }}
            <i class="fa-sharp fa-regular fa-heart fa-custom-style"></i>
        </div>
    </div>
</div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if post_page_obj.has_previous %}
            <a href="{% url 'home' %}?post_page=1" style="font-size: 25px">&laquo;</a>
            <a href="{% url 'home' %}?post_page={{ post_page_obj.previous_page_number }}">&lt;</a>
        {% endif %}
        {% if post_page_obj.has_next %}
            <a href="{% url 'home' %}?post_page={{ post_page_obj.next_page_number }}">&gt;</a>
            <a href="{% url 'home' %}?post_page={{ post_page_obj.paginator.num_pages }}" style="font-size: 25px">&raquo;</a>
        {% endif %}
    </span>
</div>

<style>
    .pagination a{
        font-size: 20px;
    }
</style>