{% for post in posts %}
<div class="roomListRoom">
    <div class="roomListRoom__header">
        <a href="" class="roomListRoom__author">
            <div class="avatar avatar--small">
                <img src="" />
            </div>
            <span>@{{post.owner.username}}</span>
        </a>
        <div class="roomListRoom__actions">
            <span>{{post.created|timesince}} ago</span>
        </div>
    </div>
    <div class="roomListRoom__content">
        <a href="{% url 'post' post.id %}">{{post.name}}</a>
    </div>
    <div class="roomListRoom__meta">
        <p class="roomListRoom__topic">{{post.book.name}}</p>
        <a href="" class="roomListRoom__joined">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>user-group</title>
            </svg>
        </a>
    </div>
</div>
{% endfor %}